<footer>
    <div class="footer main-width footer--1xbet">
        <a class="footer__logo" href="https://1xbet.com/" target="_blank"><img src="images/logo-1xbet.webp"></a>
        <div class="footer__text">
            <span data-i18n="footer.text.xbet">© 2026 1xBet. All rights reserved.</span>
            <a href="https://1xbet.com/" target="_blank" data-i18n="footer.link">Use of this website constitutes acceptance of the Terms of Service and Privacy Policy.</a>
        </div>
    </div>
    <div class="footer main-width footer--melbet">
        <a class="footer__logo" href="https://melbet8.com/" target="_blank"><img src="images/logo-melbet.webp"></a>
        <div class="footer__text">
            <span data-i18n="footer.text.melbet">© 2026 Melbet. All rights reserved.</span>
            <a href="https://melbet8.com/" target="_blank" data-i18n="footer.link">Use of this website constitutes acceptance of the Terms of Service and Privacy Policy.</a>
        </div>
    </div>
</footer>