<div class="header main-width">
    <div class="header__left">
    <div class="lang-switcher">
        <div class="lang-switcher__btn">
        <button class="lang-btn" data-lang="en"><img src="images/en-icon.svg"></button>
            <div class="lang-switcher__label"><div data-i18="language.en">English</div></div>
        </div>
         <div class="lang-switcher__btn">
            <button class="lang-btn" data-lang="ar"><img src="images/ar-icon.svg"></button>
            <div class="lang-switcher__label"><div data-i18="language.ar">Arabic</div></div>
        </div>
        <div class="lang-switcher__btn">
            <button class="lang-btn" data-lang="tr"><img src="images/tr-icon.svg"></button>
            <div class="lang-switcher__label"><div data-i18="language.tr">Turkish</div></div>
        </div>
        <div class="lang-switcher__btn">
            <button class="lang-btn" data-lang="az"><img src="images/az-icon.svg"></button>
            <div class="lang-switcher__label"><div data-i18="language.az">Azerbaijani</div></div>
        </div>
    </div> 
    </div>
    <div class="header__logo">
        <img src="images/logo.webp" alt="Logo" class="logo--desktop">
        <img src="images/logo-mob.webp" alt="Logo" class="logo--mobile">
    </div>
     <div class="header__right">
        <div class="sounds-switcher">
            <div class="sounds-switcher__btn">
            <button id="sound-on" class="sound-btn selected">
                <img src="images/sound-on-icon.svg" alt="Sound On" class="sound-on-icon">
            </button>
            <div class="sounds-switcher__label"><div data-i18="sound.play">Play</div></div>
            </div>
            <div class="sounds-switcher__btn">
                <button id="sound-off" class="sound-btn">
                    <img src="images/sound-off-icon.svg" alt="Sound Off" class="sound-off-icon">
                </button>
                <div class="sounds-switcher__label"><div data-i18="sound.mute">Mute</div></div>
            </div>
        </div>
    </div>
</div>