<section class="instruction" id="instruction">
    <h2 class="instruction__title">
        <span data-i18n="instruction.title1.top">Opening a</span>
        <span data-i18n="instruction.title1.bottom">Crypto Wallet</span>
    </h2>
    <div class="instruction__blocks main-width">
        <div class="instruction__block instruction__block--left">
            <div class="instruction__image"><img src="images/instruction-img-1.webp"></div>
            <div class="instruction__content">
                <label>1</label>
                <div class="instruction__block-title" data-i18n="instruction.block1.title">Download App</div>
                <div class="instruction__text" data-i18n="instruction.block1.text">Get the official Trust Wallet app on your device.</div>
                <div class="instruction__links">
                    <a href=""><img src="images/app-store.webp"></a>
                    <a href=""><img src="images/google-play.webp"></a>
                </div>
            </div>
        </div>
        <div class="instruction__block instruction__block--right">
            <div class="instruction__image"><img src="images/instruction-img-2.webp"></div>
            <div class="instruction__content">
                <label>2</label>
                <div class="instruction__block-title" data-i18n="instruction.block2.title">Create Wallet</div>
                <div class="instruction__text" data-i18n="instruction.block2.text">Open the app and press 'Create a new wallet'.</div>
            </div>
        </div>
        <div class="instruction__block instruction__block--left">
            <div class="instruction__image"><img src="images/instruction-img-3.webp"></div>
            <div class="instruction__content">
                <label>3</label>
                <div class="instruction__block-title" data-i18n="instruction.block3.title">Back Up</div>
                <div class="instruction__text" data-i18n="instruction.block3.text">Secure your secret phrase carefully offline.</div>
            </div>
        </div>
        <div class="instruction__block instruction__block--right">
           <div class="instruction__image"><img src="images/instruction-img-4.webp"></div>
            <div class="instruction__content">
                <label>4</label>
               <div class="instruction__block-title" data-i18n="instruction.block4.title">Verify</div>
                <div class="instruction__text" data-i18n="instruction.block4.text">Enter the security phrase to confirm backup.</div>
            </div>
        </div>
        <div class="instruction__block instruction__block--left">
            <div class="instruction__image"><img src="images/instruction-img-5.webp"></div>
            <div class="instruction__content">
                <label>5</label>
                <div class="instruction__block-title" data-i18n="instruction.block5.title">Confirm</div>
                <div class="instruction__text" data-i18n="instruction.block5.text">Arrange words in correct order to finish setup.</div>
            </div>
        </div>
        <div class="instruction__block instruction__block--right">
           <div class="instruction__image"><img src="images/instruction-img-6.webp"></div>
            <div class="instruction__content">
                <label>6</label>
               <div class="instruction__block-title" data-i18n="instruction.block6.title">Complete</div>
                <div class="instruction__text" data-i18n="instruction.block6.text">Your secure crypto wallet is now ready!</div>
            </div>
        </div>
    </div>
    <div class="instruction__blocks">
        <h2 class="instruction__title">
            <span data-i18n="instruction.title2.top">Buy</span>
            <span data-i18n="instruction.title2.bottom">Cryptocurrency</span>
        </h2>
        <div class="instruction__block instruction__block--left">
            <div class="instruction__image"><img src="images/instruction-img-7.webp"></div>
            <div class="instruction__content">
                <label>1</label>
                <div class="instruction__block-title" data-i18n="instruction.block7.title">Select Crypto</div>
                <div class="instruction__text" data-i18n="instruction.block7.text">Choose the cryptocurrency you want to buy.</div>
            </div>
        </div>

        <div class="instruction__block instruction__block--right">
           <div class="instruction__image"><img src="images/instruction-img-8.webp"></div>
            <div class="instruction__content">
                <label>2</label>
               <div class="instruction__block-title" data-i18n="instruction.block8.title">Amount</div>
                <div class="instruction__text" data-i18n="instruction.block8.text">Enter the amount you want to purchase.</div>
            </div>
        </div>
         <div class="instruction__block instruction__block--left">
            <div class="instruction__image"><img src="images/instruction-img-9.webp"></div>
            <div class="instruction__content">
                <label>3</label>
                <div class="instruction__block-title" data-i18n="instruction.block9.title">Providers</div>
                <div class="instruction__text" data-i18n="instruction.block9.text">Select from the best rates available.</div>
            </div>
        </div>
        <div class="instruction__block instruction__block--right">
           <div class="instruction__image"><img src="images/instruction-img-10.webp"></div>
            <div class="instruction__content">
                <label>4</label>
               <div class="instruction__block-title" data-i18n="instruction.block10.title">Select</div>
                <div class="instruction__text" data-i18n="instruction.block10.text">Choose your preferred provider.</div>
            </div>
        </div>
         <div class="instruction__block instruction__block--left">
            <div class="instruction__image"><img src="images/instruction-img-11.webp"></div>
            <div class="instruction__content">
                <label>5</label>
                <div class="instruction__block-title" data-i18n="instruction.block11.title">Finalize</div>
                <div class="instruction__text" data-i18n="instruction.block11.text">Follow the instructions to complete purchase.</div>
            </div>
        </div>
        <div class="instruction__block instruction__block--right">
           <div class="instruction__image"><img src="images/instruction-img-12.webp"></div>
            <div class="instruction__content">
                <label>6</label>
               <div class="instruction__block-title" data-i18n="instruction.block12.title">Done</div>
                <div class="instruction__text" data-i18n="instruction.block12.text">Your crypto will arrive shortly.</div>
            </div>
        </div>
    </div>
</section>