.crypto {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 0;
    gap: 32px;

    &__title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-family: "IBM Plex Sans";
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px; 
        letter-spacing: -0.9px;

        span:first-child {
            color: #FFF;
        }

        span:last-child {
            color: var(--main-color);
        }
    }

    &__text {
        color: rgba(255, 255, 255, 0.60);
        text-align: center;
        font-family: "IBM Plex Sans";
        font-size: 15.5px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        margin-top: 12px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: stretch;
        gap: 18px;

        &.is-visible {
            .crypto__item {
                opacity: 1;
                transform: scale(1);
            }
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 8px;
        width: 138px;
        height: 110px;
        border-radius: 14px;
        border-radius: 14px;
        border: 1px solid rgba(255, 255, 255, 0.10);
        background: rgba(255, 255, 255, 0.05);
        backdrop-filter: blur(6px);
        opacity: 0;
        transform: scale(0.85);
        transition:
        opacity 0.45s ease,
        transform 0.45s ease;
        transition-delay: calc(var(--i) * 0.08s);
        will-change: transform, opacity;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            opacity: 0;
            background-color: rgba(51, 136, 255, 0.125);
            transition: all .3s ease;
        }

        &:hover {
            transform: translateY(-5px) scale(1.05) !important;
            transition-delay: 0s !important;

             &:before {
                opacity: 0.5;
             }
        }

        label {
             display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 48px;
            height: 48px;
            border-radius: 100%;
            color: #FFF;
            text-align: center;
            font-family: "IBM Plex Sans";
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px;
        }

        div {
            color: #FFF;
            text-align: center;
            font-family: "IBM Plex Sans";
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 20px;
        }
    }

    &__subtitle {
        color: rgba(255, 255, 255, 0.40);
        text-align: center;
        font-family: "IBM Plex Sans";
        font-size: 13.7px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
    }
}