.faq {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 128px 0;
    gap: 64px;

    * {
        z-index: 1;
    }

    &__top {
        opacity: 0;
        transform: translateY(40px);
        transition:
        opacity 0.7s ease,
        transform 0.7s ease;
        will-change: transform, opacity;

        &.is-visible {
            opacity: 1;
            transform: translateY(0);
        }
    }

     &__title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-family: "IBM Plex Sans";
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 48px; 
        letter-spacing: -1.2px;

        span:first-child {
            color: #FFF;
        }

        span:last-child {
            color: var(--main-color);
        }
    }

    &__text {
        color: rgba(255, 255, 255, 0.60);
        text-align: center;
        font-family: "IBM Plex Sans";
        font-size: 17.4px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        margin-top: 16px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 16px;
        max-width: 848px;

    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        overflow: hidden;
        padding: 32px;
        border-radius: 16px;
        border: 1px solid rgba(255, 255, 255, 0.10);
        background: rgba(255, 255, 255, 0.05);
        backdrop-filter: blur(6px);
        opacity: 0;
        transform: translateY(40px);
        transition: all .3s ease,
        opacity 0.7s ease,
        transform 0.7s ease;
        will-change: transform, opacity;
        cursor: pointer;

        &.is-visible {
            opacity: 1;
            transform: translateY(0);
        }

        &--open {
            i {
                transform: rotate(180deg);
            }

            .faq__answer {
                    max-height: 200px;
                }
            }
    }

    &__question {
        display: flex;
        align-items: center;
        justify-content: space-between; 
        width: 100%;
        cursor: pointer;
        color: #FFF;
        font-family: "IBM Plex Sans";
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px; 

        i {
            width: 24px;
            height: 24px;
            transition: all .3s ease;
        }

     }

     &__answer {
        max-height: 0;
        overflow: hidden;
        color: rgba(255, 255, 255, 0.60);
        font-family: "IBM Plex Sans";
        font-size: 15.5px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        transition: max-height 0.5s ease;
        will-change: max-height;

        p {
            padding-top: 16px;
            margin-top: 16px;
            border-top: 1px solid rgba(255, 255, 255, 0.10);
        }
    }

    &__bottom {
        span {
            color: rgba(255, 255, 255, 0.60);
            text-align: center;
            font-family: "IBM Plex Sans";
            font-size: 15.9px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; 
        }

        a {
            color: var(--main-color);
            font-family: "IBM Plex Sans";
            font-size: 15.9px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px;
        }
    }
}