.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 0;
    gap: 64px;
    position: relative;

    * {
        z-index: 1;
    }

    &__top {
        opacity: 0;
        transform: translateY(40px);
        transition:
        opacity 0.7s ease,
        transform 0.7s ease;
        will-change: transform, opacity;

        &.is-visible {
            opacity: 1;
            transform: translateY(0);
        }
    }

     &__title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-family: "IBM Plex Sans";
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 48px; 
        letter-spacing: -1.2px;

        span:first-child {
            color: #FFF;
        }

        span:last-child {
            color: var(--main-color);
        }
    }

    &__text {
        color: rgba(255, 255, 255, 0.60);
        text-align: center;
        font-family: "IBM Plex Sans";
        font-size: 17.4px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        margin-top: 16px;
    }

    &__list {
        display: flex;
        flex-wrap: nowrap;
        align-items: stretch;
        justify-content: stretch;
        gap: 32px;
        opacity: 0;
        transform: translateY(40px);
        transition:
        opacity 0.7s ease,
        transform 0.7s ease;
        will-change: transform, opacity;

        &.is-visible {
            opacity: 1;
            transform: translateY(0);
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 16px;
        flex: 1;
        padding: 32px;
        width: calc((100% - 32px * 3) / 4);
        border-radius: 24px;
        border: 1px solid rgba(255, 255, 255, 0.10);
        background: rgba(255, 255, 255, 0.05);
        backdrop-filter: blur(6px);
        position: relative;
        transition: all .3s ease;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            opacity: 0;
            background-color: rgba(51, 136, 255, 0.125);
            transition: all .3s ease;
        }

        &:hover {
            transform: translateY(-15px) ;

             &:before {
                opacity: 0.5;
             }

             .features__icon  {
                transform: scale(1.1);
             }
        }

    }

    &__icon {
        display: flex;
        width: 64px;
        height: 64px;
        padding: 16px;
        justify-content: center;
        align-items: center;
        border-radius: 16px;
        background: rgba(51, 136, 255, 0.13);
        margin-bottom: 8px;
        transition: all .3s ease;

        svg path {
            stroke: var(--main-color);
        }
    }

    &__item-title {
        color: #FFF;
        font-family: "IBM Plex Sans";
        font-size: 19.8px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px;
    }

    &__item-text {
        color: rgba(255, 255, 255, 0.60);
        font-family: "IBM Plex Sans";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22.75px
    }

    .circle--1 {
        bottom: 64px;
        left: -128px;
        z-index: 0;
    }
    .circle--2 {
        top: 0;
        right: -128px;
        z-index: 0;
    }
}