footer {
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    background: rgba(0, 0, 0, 0.20);
    backdrop-filter: blur(8px);
    padding: 50px 0;
    overflow: hidden;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
 
    &__logo {
        height: 24px;
    }

    &__text {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: right;
        gap: 12px;
        color: rgba(255, 255, 255, 0.40);
        text-align: right;
        font-family: "IBM Plex Sans";
        font-size: 13.6px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
    }
}
