header {
  position: fixed;
  width: 100vw;
  top: 0;
  padding: 28px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  background: rgba(0, 0, 0, 0.20);
  backdrop-filter: blur(12px);
  z-index: 99;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 9;

    &__nav {
      margin: auto;

      nav {
         display: flex;
          align-items: center;
          gap: 32px;

          a.nav-item {
            color: rgba(255, 255, 255, 0.70);
            text-align: center;
            font-family: "IBM Plex Sans";
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 20px;

             &:hover {
              color: #FFF;
            }
          }
      }
    }



   .lang-switcher {
      position: relative;

        &__current {
          display: flex;
          align-items: center;
          cursor: pointer;
          gap: 8px;

          i {
            transition: all .3s ease;
          }
        }

        &__label {
          color: #FFF;
          font-family: "IBM Plex Sans";
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 24px; 
        }

        &__list {
          position: absolute;
          top: 100%;
          right: 0;
          display: none;
          z-index: 10;
          padding: 8px 0;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          flex-shrink: 0;
          align-self: stretch;
          width: 224px;
          border-radius: 16px;
          border: 1.25px solid rgba(255, 255, 255, 0.10);
          background: linear-gradient(135deg, rgba(0, 0, 0, 0.95) 0%, rgba(20, 20, 20, 0.95) 100%);
          box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
        }

      &__option {
         list-style: none;
          display: flex;
          width:100%;
          height: 56px;
          padding: 0 16px 0;
          justify-content: flex-start;
          gap: 12px;
          align-items: center;
          flex-shrink: 0;
          color: #FFF;
          text-align: center;
          font-size: 16px; 
          font-style: normal;
          font-weight: 600;
          line-height: 24px;
          letter-spacing: -0.312px;
          cursor: pointer;

          &:hover {
            color: var(--main-color);
          }

          &--selected {
            color: var(--main-color);

            &:after {
              content: '';
                display: inline-block;
                width: 16px;
                height: 16px;
                margin-left: auto;
            }
          }
        }

    &--open {
    
        .lang-switcher__list {
          display: flex;
        }

        .lang-switcher__current i {
          transform: rotate(180deg);
        }
      }
  }   
}

.progress-container {
  width: 100%;
  height: 4px; /* Толщина полосы */
  background: rgba(0, 0, 0, 0.1); /* Цвет фона полосы */
  position: absolute;
  top: 0;
  left: 0;
}

.progress-bar {
  height: 100%;
  width: 0%;
  transition: width 0.1s ease;
  background: var(--main-color);
  box-shadow: var(--main-color) 0 0 20px;
}

html[dir="rtl"] .lang-switcher__list {
  right: auto;
  left: 0;
}

html[dir="rtl"] .lang-switcher__option--selected:after {
  margin-left: 0;
  margin-right: auto;
}