.instruction {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 0;
    gap: 64px;

    &__title {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-family: "IBM Plex Sans";
        font-size: 78px;
        font-style: normal;
        font-weight: 700;
        line-height: 78px;
        opacity: 0;
        transform: translateY(24px);
        transition:
        opacity 0.6s ease,
        transform 0.6s ease;
        will-change: transform, opacity;

        span:first-child {
                background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.40) 100%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                line-height: 92px;
        }
        
         span:last-child {
            color: var(--main-color);
        }

        &.is-visible {
            opacity: 1;
            transform: translateY(0);
        }
    }

    &__blocks {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 48px;
    }

    &__block {
        display: flex;
        align-items: center;
        gap: 235px;
        border-radius: 48px;
        border: 1px solid rgba(255, 255, 255, 0.05);
        background: rgba(255, 255, 255, 0.05);
        backdrop-filter: blur(4px);
        opacity: 0;
        transform: scale(0.9);
        transition:
        opacity 0.6s ease,
        transform 0.6s ease;
        will-change: transform, opacity;

        &.is-visible {
            opacity: 1;
            transform: scale(1);
        }

        &--left {
            padding: 50px 90px 50px 200px;

            .instruction__content {
                order: 1;
            }

            .instruction__image {
                order: 0;
                 transform-origin: left bottom;
                &:hover {
                    transform: rotate(-6deg) translateY(-4px);
                }
            }
        }
        
         &--right {
            padding: 50px 200px 50px 90px;
            .instruction__content {
                order: 0;
            }

            .instruction__image {
                order: 1;
                transform-origin: right bottom;
                &:hover {
                    transform: rotate(6deg) translateY(-4px);
                }
            }
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 12px;
        position: relative;
        flex: 1;

        label {
            font-family: "IBM Plex Sans";
            font-size: 140px;
            font-style: normal;
            font-weight: 700;
            line-height: 140px;
            opacity: 0.05;
            position: absolute;
            left: -15px;
            top: -60px;
            color: var(--main-color);
        }
    }

    &__block-title {
        color: #FFF;
        font-family: "IBM Plex Sans";
        font-size: 29.4px;
        font-style: normal;
        font-weight: 700;
        line-height: 37.5px;
        letter-spacing: -0.75px;
    }

    &__text {
        color: rgba(255, 255, 255, 0.70);
        font-family: "IBM Plex Sans";
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 29.25px;
    }

    &__links {
        display: flex;
        align-items: center;
        margin-top: 28px;
        gap: 16px;
    } 

    &__image {
        width: 260px;
        display: inline-block;
        transform-origin: center bottom;
        transition: transform 0.5s cubic-bezier(.4, 0, .2, 1);
        will-change: transform;
    }
}

