.security {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 128px 0;
    gap: 64px;

    * {
        z-index: 1;
    }

    &__top {
        opacity: 0;
        transform: translateY(40px);
        transition:
        opacity 0.7s ease,
        transform 0.7s ease;
        will-change: transform, opacity;

        &.is-visible {
            opacity: 1;
            transform: translateY(0);
        }
    }

     &__title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-family: "IBM Plex Sans";
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 48px; 
        letter-spacing: -1.2px;

        span:first-child {
            color: #FFF;
        }

        span:last-child {
            color: var(--main-color);
        }
    }

    &__text {
        color: rgba(255, 255, 255, 0.60);
        text-align: center;
        font-family: "IBM Plex Sans";
        font-size: 17.4px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        margin-top: 16px;
        
    }

    &__list {
        display: flex;
        flex-wrap: nowrap;
        align-items: stretch;
        justify-content: stretch;
        gap: 32px;

        &.is-visible .security__item {
            opacity: 1;
            transform: translateY(0);
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 16px;
        flex: 1;
        padding: 32px;
        width: calc((100% - 32px * 3) / 4);
        border-radius: 24px;
        border: 1px solid rgba(255, 255, 255, 0.10);
        background: rgba(255, 255, 255, 0.05);
        backdrop-filter: blur(6px);
        position: relative;
        transition: all .3s ease;
        opacity: 0;
        transform: scale(0.85);
        transition:
        opacity 0.45s ease,
        transform 0.45s ease;
        transition-delay: calc(var(--i) * 0.08s);
        will-change: transform, opacity;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            opacity: 0;
            background-color: rgba(51, 136, 255, 0.125);
            transition: all .3s ease;
        }

        &:hover {
           transform: scale(1.05);
        }

    }

    &__icon {
        display: flex;
        width: 64px;
        height: 64px;
        padding: 16px;
        justify-content: center;
        align-items: center;
        border-radius: 16px;
        border-radius: 16px;
        margin-bottom: 8px;
        transition: all .3s ease;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
             right: 0;
            border-radius: 100%;
            opacity: 0.3;
            background: var(--main-color);
            filter: blur(8px);
        }

        svg path {
            stroke: var(--main-color);
        }
    }

    &__item-title {
        color: #FFF;
        font-family: "IBM Plex Sans";
        font-size: 19.8px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px;
        text-align: center;
    }

    &__item-text {
        color: rgba(255, 255, 255, 0.60);
        font-family: "IBM Plex Sans";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22.75px;
        text-align: center;
    }

    &__subtitle {
        display: flex;
        padding: 13px 25px ;
        justify-content: center;
        align-items: flex-start;
        gap: 12px;    
        border-radius: 33554400px;
        border: 1px solid rgba(255, 255, 255, 0.10);
        background: rgba(255, 255, 255, 0.05);
        backdrop-filter: blur(6px);
        color: rgba(255, 255, 255, 0.80);
        text-align: center;
        font-family: "IBM Plex Sans";
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px;

        svg path {
            stroke: var(--main-color);
        }
    }

    .circle {
        width: 500px;
        height: 500px;
        z-index: 0;
    }
}