.app {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  transition: background 1s ease;

  &__overlay {
    display: flex;
    width: 98vw;
    max-width: 800px;
    padding: 60px;
    flex-direction: column;
    align-items: center;
    gap: 36px;
    border-radius: 60px;
    background: rgba(0, 0, 0, 0.15);
    box-shadow: 0 4px 43.3px 0 rgba(0, 0, 0, 0.12);
    backdrop-filter: blur(20px);
    position: relative;

    &:after {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: inherit;
        padding: 2px;
        background: linear-gradient(148deg, rgb(255 255 255 / 20%), rgb(255 255 255 / 10%), rgb(255 255 255 / 5%), rgb(255 255 255 / 10%));
        -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
        pointer-events: none;
        z-index: 1;
    } 
  }

  &__title {
    color: #FFF;
    text-align: center;
    leading-trim: both;
    text-edge: cap;
    font-family: "IBM Plex Serif";
    font-size: 80px;
    font-style: normal;
    font-weight: 500;
    line-height: 60px;
    margin: 0;
    padding: 0; 

    @media (max-width: 830px) {
      font-size: 10vw;
      line-height: 8vw;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  &__date {
    color: #FFF;
    text-align: center;
    font-family: "IBM Plex Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}
