* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url("/fonts/IBMPlexSans-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url("/fonts/IBMPlexSans-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url("/fonts/IBMPlexSans-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url("/fonts/IBMPlexSans-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url("/fonts/IBMPlexSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url("/fonts/IBMPlexSans-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url("/fonts/IBMPlexSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url("/fonts/IBMPlexSans-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url("/fonts/IBMPlexSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url("/fonts/IBMPlexSans-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url("/fonts/IBMPlexSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url("/fonts/IBMPlexSans-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url("/fonts/IBMPlexSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url("/fonts/IBMPlexSans-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

html {
  height: 100%;
  width: 100%;
  margin: 0; 
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  scroll-behavior: smooth;
}

body {
  font-family: "IBM Plex Serif", serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1; 
  position: relative;
  -webkit-text-size-adjust: none;
  margin: 0;
  overflow-x: hidden; 
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

input, textarea, select, button {
  font-family: inherit;
  outline: none;
  background: transparent;
  border: none;
  cursor: url("images/cursor.svg"), pointer;


}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button, textarea::-webkit-outer-spin-button, textarea::-webkit-inner-spin-button, select::-webkit-outer-spin-button, select::-webkit-inner-spin-button, button::-webkit-outer-spin-button, button::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input::-webkit-search-decoration, input::-webkit-search-cancel-button, input::-webkit-search-results-button, input::-webkit-search-results-decoration, textarea::-webkit-search-decoration, textarea::-webkit-search-cancel-button, textarea::-webkit-search-results-button, textarea::-webkit-search-results-decoration, select::-webkit-search-decoration, select::-webkit-search-cancel-button, select::-webkit-search-results-button, select::-webkit-search-results-decoration, button::-webkit-search-decoration, button::-webkit-search-cancel-button, button::-webkit-search-results-button, button::-webkit-search-results-decoration {
  display: none;
}
input:focus::placeholder, textarea:focus::placeholder, select:focus::placeholder, button:focus::placeholder {
  visibility: hidden;
}

input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
}

img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
}

h1, h2, h3 {
  margin: 0;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
}

.btn {
  position: relative;
  transition: all .3s ease;

  span {
      display: flex;
      height: 56px;
      padding: 19px 40px;
      justify-content: center;
      align-items: center;
      border-radius: 14px;
      color: #FFF;
      text-align: center;
      font-family: "IBM Plex Sans";
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 28px;
      z-index: 1;
      transition: all .3s ease;
      background: var(--main-color);
  }

  &:before {
    content: '';
    position: absolute;
    top: -4px;
    bottom: -4px;
    left: -4px;
    right: -4px;
    border-radius: 16px;
    opacity: 0.5;
    filter: blur(6px);
    z-index: -1;
    background: linear-gradient(72deg, var(--main-color) 0%, var(--second-color) 50%, var(--main-color) 100%);
    transition: all .3s ease;
  }

   &:hover {
    span {
        transform: translateY(-5px) !important;
      }

      &:before {
        top: -8px;
        bottom: -8px;
        left: -8px;
        right: -8px;
      }
  }
}

.main-width {
  width: 100%;
  max-width: 1280px;
  padding: 0 24px;
  margin: 0 auto;
} 

.circle {
  width: 384px;
  height: 384px;
  opacity: 0.07;
  background: var(--main-color);
  filter: blur(32px);
  position: absolute;
  border-radius: 100%;
  z-index: 0;
}