.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 9;

   .lang-switcher {
  position: relative;
}

.lang-switcher__current {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.lang-switcher__list {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  z-index: 10;
}

.lang-switcher--open .lang-switcher__list {
  display: block;
}

.lang-switcher__option {
  cursor: pointer;
}


}