@media (max-width: 444px) {
    .day {
        background: url(images/day-mob.webp) no-repeat top center;
        background-size: cover;
    }
    .night {
        background: url(images/night-mob.webp) no-repeat top center;
        background-size: cover;
    }


    .header {
        gap: 0;
        max-width: 360px;
    }

    .app__overlay {
        padding: 30px;
        max-width: 360px;
        border-radius: 40px;
        gap: 24px;
    }

    .app__title {
        font-size: 44px;
    }

    .app__date, .dropdown__toggle { 
        font-size: 12px;
    }

    .timer {
        font-size: 60px;
        line-height: 50px;
        gap: 2vw;

        &--complete {
            font-size: 12px;
        }

        span {
            font-size: 30px;
        }
    }

    .timer__container {
        padding: 28px 0;
    }

    .app__quote {
        font-size: 16px;
    }

    .share-popup {
        padding: 30px;
        border-radius: 40px;
        max-width: 360px;
        gap: 24px;

        &__content {    
            height: 131.471px;
            background-size: contain;
        }

        &__title {
            font-size: 18px;
        }

        &__summary {
            font-size: 10px;
        }
    }

    // .lang-switcher, .sounds-switcher {
    //     flex-direction: column;
    //     max-height: 50px;

    //     &:hover {
    //         max-width: 50px;
    //         max-height: 200px;
    //     }
    // }
}