@media (max-width: 767px) {

    .main-width {
        padding: 0 16px;
    }


    header {
        padding: 16px 0;
    }

    .header {

        gap: 2vw;
    
    &__nav {
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background: #000;
         padding: 24px;
         opacity: 0;
         visibility: hidden;
        transition: all 0.3s ease;




        nav {
            flex-direction: column;
            align-items: flex-start;
        }
    }
    &__nav-link {
        display: flex;
    }
}

    .header--nav-open {
        .header__nav {
            opacity: 1;
            visibility: visible;
        }
        .header__nav-link {
            .open-nav {
                display: none;
            }
            .close-nav {
                display: flex;
            }
        }
    }

    .lang-switcher {
        margin-left: auto;
    }

    .top-block {

        min-height: 780px;
        padding-top: 81px;

        &__title {
            font-size: 9.2vw;
            line-height: 1;
            letter-spacing: -1.8px;
        }

        &__text {
            font-size: 16px;
        }
        &__digits {
            gap: 30px;
        }
        &__digits-item div {
            font-size: 23px; 
        }
    }

    .instruction {
        padding: 48px 0;
        gap: 48px;

        &__title {
            font-size: 7.6vw;
            line-height: 1.2;

            span:first-child {
                line-height: 1.2;
            }
        }

        &__block {
            padding: 25px !important;
            gap: 24px !important;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        &__content {
            padding-top: 32px;
            order: 1 !important;

             label {
                font-size: 100px;
                left: -15px;
                top: -45px;
             }
        }

        &__block-title {
            font-size: 24px;
        }

        &__image {
            width: 180px;
        }
    }

    .crypto {
        padding: 52px 0;

        &__title {
            font-size: 7.6vw;
            line-height: 1.2;
        }

        &__list {
            gap: 14px;
        }

        &__item {
            width: calc(100% / 3 - 9.33px);
        }
    }

    .features {
        padding: 48px 0 32px 0;

        &__title {
            font-size: 8.1vw;
            line-height: 1.2;
        }

        &__item {
            min-width: 100%;
        }
    }

    .comparison {
        padding: 52px 0;

        &__title {
            font-size: 8.1vw;
            line-height: 1.2;
        }

        &__th {
            padding: 24px;
            font-size: 12px;
        }

        &__td {
            padding: 24px;
            font-size: 12px;

              &:nth-child(2) {
                 white-space: nowrap;
              }
        }
    }

    .security {
        padding: 48px 0 32px 0;

        &__title {
            font-size: 8.1vw;
            line-height: 1.2;
        }

        &__list {
            gap: 24px;
            flex-wrap: wrap;
        }

        &__item {
            min-width: calc(50% - 12px);
        }
    }

    .faq {
        padding: 48px 0 32px 0;

        &__title {
            font-size: 8.1vw;
            line-height: 1.2;
        }

        &__item {
            padding: 29px 25px; 
        }
    }

    .cta {
        padding: 48px 0 64px 0;

        &__title {
            font-size: 9.2vw;
            line-height: 1.2;
        }

        &__list {
            flex-direction: column;
            gap: 24px;
        }

        &__item {
            width: 100%;
        }
    }

    .footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 40px;

        &__text {
            align-items: center;
            text-align: center;
        }
    }
}