.app__quote {
  color: rgba(255, 255, 255, 0.80);
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-family: "IBM Plex Serif";
  font-size: 28px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  }
