.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.78);
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 99;

    &.is-visible {
        display: flex;
    }
}

 
.share-popup {
    display: flex;
    width: 98vw;
    max-width: 800px;
    padding: 60px;
    flex-direction: column;
    align-items: stretch;
    gap: 32px;
    border-radius: 60px;
    background: #000A28;
    box-shadow: 0 4px 43.3px 0 rgba(0, 0, 0, 0.12);
    position: relative;

        &:after {
          content: "";
          position: absolute;
          inset: 0;
          border-radius: inherit;
          padding: 2px;
          background: linear-gradient(148deg, rgb(255 255 255 / 20%), rgb(255 255 255 / 10%), rgb(255 255 255 / 5%), rgb(255 255 255 / 10%));
          -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
          -webkit-mask-composite: xor;
          mask-composite: exclude;
          pointer-events: none;
          z-index: 1;
      } 

      &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #FFF;
        font-family: "IBM Plex Sans";
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }

      &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 24px 0 12px;
        height: 300px;
        background: url(images/popup-bg.webp) no-repeat center;
      }

      &__title {
        color: #FFF;
        text-align: center;
        leading-trim: both;
        text-edge: cap;
        font-size: 38px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }

      &__summary {
        font-family: "IBM Plex Sans";
        color: #FFF;
        text-align: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    &__actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 12px;

        @media (max-width: 810px) {
            flex-wrap: wrap;
            justify-content: center;
                @media (max-width: 676px) {
                    max-width: 360px; 
                    margin: auto;
                }
            }
        }
    &__action-btn {
         display: flex;
        align-items: center;
        justify-content: center;
        width: 262px;
        height: 58px;
        color: #FFF;
        text-align: center;
        leading-trim: both;
        text-edge: cap;
        font-family: "IBM Plex Sans";
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        transition: all 0.3s ease;


         @media (max-width: 676px) {
                    width: 143.208px;
                    height: 40px;
                    font-size: 12px;
            }

        &--copy-image {
            background: url(images/btn-bg-hov.png) no-repeat center/contain;

             @media (max-width: 676px) {
                 background: url(images/btn-bg-hov-mob.png) no-repeat center/contain;
             }
        }
        &--copy-text {
            background: url(images/btn-bg-2.png) no-repeat center/contain;

            @media (max-width: 676px) {
                 background: url(images/btn-bg-2-mob.png) no-repeat center/contain;
             }
        }

      }
      
    

      &__action-link {
        display: flex;
        width: 58px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        align-self: stretch;
        border-radius: 100px; 
        padding: 13px;
        background: rgba(255, 255, 255, 0.10);
        &:hover {
            cursor: url("images/cursor.svg"), pointer;
        }

        @media (max-width: 810px) {
            width: 262px;
                @media (max-width: 676px) {
                    width: 143.208px;
                    height: 40px;

                    svg {
                        width: 16px;
                        height: 16px;
                    }
                }

        }
        
        }
    }



.day {
    .share-popup__title--night {
        display: none;
    }
}

.night {
    .share-popup__title--day {
        display: none;
    }
    .share-popup__title--night {
        display: block;
    }
}