body[data-theme="1xbet"] {
        
    background: #021A35;
    --main-color: #38F;
    --second-color: #00D4FF;

    .btn  { 
        span {
        box-shadow: 0 10px 30px -10px rgba(51, 136, 255, 0.40);
        }
    }

    .logo--1xbet {
        display: block;
    }
    .logo--melbet {
        display: none;
    }

    .top-block {
        background: url(images/top-bg.webp) top center no-repeat;
        background-size: cover;

        &__title--1xbet {
            display: flex;
        }
        &__title--melbet {
            display: none;
        }
    }
}